
/* 폰트적용 */
@import url(//db.onlinewebfonts.com/c/827d075b1538829cc0db75696e4d5fa2?family=Speedee);
/* 밑에꺼를K로 바꾸었더니성공 */
@font-face {font-family: "SpeedeeK"; src: url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.eot"); src: url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.woff") format("woff"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.svg#Speedee") format("svg"); }
* {
    -webkit-text-size-adjust: none;
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}

@font-face {
    font-family:SpeedeeK;
    font-weight:400;
    font-style:normal;
    src: url(../font/Speedee_K_L.eot);
    src: url(../font/Speedee_K_L.eot#iefix) format('embedded-opentype'),
         url(../font/Speedee_K_L.woff) format('woff'),
         url(../font/Speedee_K_L.ttf) format('truetype'),
         url(../font/Speedee_K_L.svg#webfont) format('svg')}
  @font-face {
    font-family:SpeedeeK;
    font-weight:500;
    font-style:normal;
    src: url(../font/Speede2019-11-13e_K_R.eot);
    src: url(../font/Speedee_K_R.eot#iefix) format('embedded-opentype'),
         url(../font/Speedee_K_R.woff) format('woff'),
         url(../font/Speedee_K_R.ttf) format('truetype'),
         url(../font/Speedee_K_R.svg#webfont) format('svg')}
  @font-face {
    font-family:SpeedeeK;
    font-weight:600;
    font-style:normal;
    src: url(../font/Speedee_K_B.eot);
    src: url(../font/Speedee_K_B.eot#iefix) format('embedded-opentype'),
         url(../font/Speedee_K_B.woff) format('woff'),
         url(../font/Speedee_K_B.ttf) format('truetype'),
         url(../font/Speedee_K_B.svg#webfont) format('svg')}
/* HEADER */
.wrapper {
    overflow: hidden;
    position: relative;
    min-width: 1280px;
    min-height: 100%;
    padding: 140px 0 230px;
}
.wrapper header{
    position: absolute;
    width:100%;
    height: 141px;
    top: 0;
    left: 0;
    text-align: center;
    border-bottom: 1px solid #ffbc0d;
    background:blue;
}
.wrapper header .h-inner{
   width:1280px;
   height:100%;
   margin:0 auto;
   background-color: darkkhaki;
}
.wrapper main{
    position: relative;
    max-width:1900px;
    height: 540px;
    margin:0 auto;
    background-color: darkolivegreen;
}
.wrapper .contents-list{
    width:100%;
    height:1271px;
    background-color: darksalmon;
    
}
.wrapper .contents-list .c-inner{
    width: 1168px;
    height:1271px;
    margin: 0 auto;
    background-color: darkslateblue;
    padding:30px 0 60px;
    box-sizing: border-box;
}

.wrapper footer{
   position: absolute;
   height: 259.4px;
   bottom:0px;
   left:0px;
   right:0px;
   background-color: black;
}

