
/* 폰트적용 */
@import url(//db.onlinewebfonts.com/c/827d075b1538829cc0db75696e4d5fa2?family=Speedee);
/* 밑에꺼를K로 바꾸었더니성공 */
@font-face {font-family: "SpeedeeK"; src: url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.eot"); src: url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.woff") format("woff"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.svg#Speedee") format("svg"); }
* {
    -webkit-text-size-adjust: none;
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}

@font-face {
    font-family:SpeedeeK;
    font-weight:400;
    font-style:normal;
    src: url(../font/Speedee_K_L.eot);
    src: url(../font/Speedee_K_L.eot#iefix) format('embedded-opentype'),
         url(../font/Speedee_K_L.woff) format('woff'),
         url(../font/Speedee_K_L.ttf) format('truetype'),
         url(../font/Speedee_K_L.svg#webfont) format('svg')}
  @font-face {
    font-family:SpeedeeK;
    font-weight:500;
    font-style:normal;
    src: url(../font/Speede2019-11-13e_K_R.eot);
    src: url(../font/Speedee_K_R.eot#iefix) format('embedded-opentype'),
         url(../font/Speedee_K_R.woff) format('woff'),
         url(../font/Speedee_K_R.ttf) format('truetype'),
         url(../font/Speedee_K_R.svg#webfont) format('svg')}
  @font-face {
    font-family:SpeedeeK;
    font-weight:600;
    font-style:normal;
    src: url(../font/Speedee_K_B.eot);
    src: url(../font/Speedee_K_B.eot#iefix) format('embedded-opentype'),
         url(../font/Speedee_K_B.woff) format('woff'),
         url(../font/Speedee_K_B.ttf) format('truetype'),
         url(../font/Speedee_K_B.svg#webfont) format('svg')}
/* 하이퍼링크 초기화 */
a {
    text-decoration: none;
    color: inherit;
}
/* 글꼴설정 */
body, input, select, textarea, button, pre {
    font-family: SpeedeeK, sans-serif;
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
    height: 100vh;
}
/* 반응형웹을 위해 잡아줌 */
.wrapper {
    overflow: hidden;
    position: relative;
    min-width: 1280px;
    min-height: 100%;
    padding: 140px 0 230px;
}

/* HEADER */


.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: 1280px;
    height: 141px;
    text-align: center;
    border-bottom: 1px solid #ffbc0d;
    background: #fff;
}
.header .h-inner {
    height: 100%;
    width: 1168px;
    margin: 0 auto;
}

.header .hLogo {
    position: relative;
    top: 28px;
    float: left;
    z-index: 1;
}

img {
    margin: 0;
    padding: 0;
    line-height: 0;
    vertical-align: top;
}

.header .hMenu {
    height: 100%;
    padding: 52px 0;
}
.header .hMenu .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
}
.header .hMenu .menu .depth1 {
    display: inline-block;
    padding-left: 0;
    text-align: left;
    vertical-align: top;
    margin-left: -136px;
}
.header .hMenu .menu .depth1>li {
    float: left;
}
.header .hMenu .menu .depth1>li .dth1 {
    position: relative;
    margin-right: 85px;
    padding: 0 10px;
    color: #292929;
    font-size: 20px;
    line-height: 140px;
    font-weight: 600;
}
.header .hMenu .menu .depth2 {
    display: none;
    padding: 35px 10px 45px;
}
.header .hMenu .menu .depth2>li:first-child {
    margin-top: 0;
}
.header .hMenu .menu .depth2>li {
    margin-top: 15px;
}
.header .hMenu .util {
    position: relative;
    float: right;
    margin: 0 0 0 50px;
}
.header .hMenu .util .renter {
    display: inline-block;
    width: 80px;
    padding-top: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    border-radius: 48px;
    background: #db0007;
}
.header .hMenu .util .recruit {
    display: inline-block;
    width: 80px;
    padding-top: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    background: #ffbc0d;
    border-radius: 48px;
}
.header .hMenu .util .lang {
    display: inline-block;
    width: 80px;
    padding-top: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    background: #264a36;
    border-radius: 48px;
}
.topSearch {
    display: inline-block;
}
.switch {
    padding-top: 2px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
  }
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #808080;
}

  
input:focus + .slider {
    box-shadow: 0 0 1px #808080;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.header .hMenu .util .srch {
    margin-left: 10px;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    border-style: none;
    background: url(../images/ico_search.png) 0 0 no-repeat;
}

/* hover기능!*/
.header .hMenu .menu .depth1>li:hover .dth1:after{
    content:" ";
    position:absolute;
    bottom:-63px;
    left:0;
    right:0;
    border-bottom:3px solid #f5bd43;
}
.header.fixed .hMenu .menu .depth1>li:hover .dth1:after{
    content:" ";
    position:absolute;
    bottom:-33px;
    left:0;
    right:0;
    border-bottom:3px solid #f5bd43;
}
.header .hMenu .menu .depth2>li .dth2:hover{
    color:#000;
    border-bottom:1px 
    solid #000
}

.header.open{z-index:11}
.header.open .hMenu .menu .depth1:before{content:'';position:absolute;top:140px;left:0;right:0;height:1px;background:#e2e2e2}
.header.open .hMenu .menu .depth1:after{content:'';position:absolute;bottom:0;left:0;right:0;height:1px;background:#ffbc0d}
.header.open .hMenu .menu .depth1 .dth1.current:before{display:none}
.header.open .hMenu .menu .depth1 .depth2{display:block}
.header.fixed{position:fixed;height:81px;z-index:11}
.header.fixed .hLogo{top:18px}
.header.fixed .hLogo img{height:45px}
.header.fixed .hMenu{padding:22px 0}
.header.fixed .hMenu .menu .depth1>li .dth1{line-height:80px}
.header.fixed .hMenu .menu .depth1>li .dth1.current:before{bottom:25px}
.header.fixed.open .hMenu .menu .depth1:before{top:80px}

/* MAIN */
.wrapper main{
    position: relative;
    height: 540px;
}
.wrapper main .swiper-container{
    max-width:1900px;
    height: 100%;
    margin:0 auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctrl{
    position: absolute;
    top: 50%;
    width: 90px;
    height: 90px;
    margin-top: -45px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/bg_swiper_new.png) 0 0 no-repeat;
    border-style: none;
    z-index:1;
}
.ctrl.next {
    right: 0;
    background-position: 0 -90px;
}
.ctrl.prev{
    left:0;
}
.swiper-container .indicator {
    position: absolute;
    left: 50%;
    bottom: 27px;
    width: 366px;
    margin-left: -183px;
    padding-left: 66px;
    z-index: 1;
}
.swiper-container .indicator .timer {
    display: block;
    position: relative;
    width: 300px;
    height: 6px;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: top;
    border-radius: 6px;
    background: #fff;
}
.swiper-container .indicator .timer .bar{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    border-radius: 6px;
    background:#ffbc0d;
}

.animating {
    -webkit-animation: progress 5s linear;
}
@-webkit-keyframes progress {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  

.swiper-container .indicator .pause{
    position:absolute;
    top:50%;
    left:0;
    width:36px;
    height: 36px;
    margin-top:-18px;
    overflow:hidden;
    text-indent:-9999px;
    border-style: none;
    background:url(../images/bg_swiper_new.png);
    background-position: -92px -36px;
    display:block;
}
.swiper-container .indicator .play{
    position:absolute;
    top:50%;
    left:0;
    width:36px;
    height: 36px;
    margin-top:-18px;
    overflow:hidden;
    text-indent:-9999px;
    border-style: none;
    background:url(../images/bg_swiper_new.png)-92px 0 no-repeat;
    display:none;
}
/* CONTENTS */
.wrapper .contArea{
    width:100%;
    height:1271px;
    background-color:white;
    padding:30px 0 60px;
}
.wrapper .contArea .c-inner{
    width: 1168px;
    height:1181px;
    margin: 0 auto;
    background-color:white;
}
.whatsNew .grid{
    display:grid;
    grid-template-columns:repeat(3,auto);
    gap:30px;
    justify-content:center;
}
.whatsNew .grid .circle{
    width:366px;
    height:438px;
    box-shadow: 0 3px 4px rgb(0 0 0/10%);
    border-radius: 10px;
    background: #ffffff;
    color:#000000;
    font-size:32px;
}
 .whatsNew .grid .circle .con{
    padding: 24px 30px;
}
 .whatsNew .grid .circle .con .tit{
    display: block;
    max-height: 118px;
    overflow: hidden;
    font-size: 18px;
    color: #292929;
    font-weight: 500;
    line-height: 1.7;
}

.btnMore {
    margin-top: 80px;
    text-align: center;
}
.btnMore .more {
    display: inline-block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    vertical-align: top;
    text-indent: -9999px;
    background: url(../images/btn_more.png) 0 0 no-repeat;
}
.circle6 ,.circle7 ,.circle8 ,.circle9 ,.circle10, .circle11{
    display:none;
}
.circle12 ,.circle13,.circle14,.circle15,.circle16,.circle17{
    display:none;
}
.circle18,.circle19,.circle20,.circle21{
    display:none;
}
.titMain{
    margin:0 0 60px;
    color:#292929;
    font-size:40px;
    font-weight: 600;
    line-height: 1;
}

.aside{
    position:fixed;
    bottom:110px;
    left:49%;
    margin:0 0 0 635px;
    z-index:10;
}
.aside.fixedB{
    position:absolute;
    bottom:378px;
}
.aside .goDelivery{
    display: block;
    width:110px;
    height: 113px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../images/btn_delivery_01.png) 0 0 no-repeat;
    background-size:cover;
}
.aside .goDelivery2{
    display: block;
    width:110px;
    height: 113px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../images/btn_delivery_02.png) 0 0 no-repeat;
    background-size:cover;
}
.btnTop{
    position: fixed;
    bottom:45px;
    left:50%;
    width:43px;
    height:40px;
    margin:0 0 0 635px;
    border-style: none;
    background:url(../images/btn_top.png)0 14px no-repeat;
    text-indent:-9999px;
    font-size:1px;
    z-index:10;
}
.btnTop.fixedB{
    position: absolute;
    bottom:310px;
}




/* FOOTER */
.wrapper .footer{
   position: absolute;
   height: 259.4px;
   bottom:0px;
   left:0px;
   right:0px;
   background:#292929;
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}

.wrapper .footer .f-inner{
    width:1168px;
    height:100%;
    padding:45px 0 55px;
    text-align: left;
    margin:0 auto;
    
}

.footer .fUtil {
    float: left;
    width: 190px;
}
.footer .fUtil .privacy {
    color: yellow;
}
.footer .fUtil li+li {
    margin-top: 5px;
}
.footer .fSns {
    float: right;
}
.footer .fSns li {
    float: left;
    margin-left: 20px;
}
.footer .fSns a {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/ico_sns.png) 0 0 no-repeat;
}
.footer .fSns a.fb {
    background-position: 0 0;
}
.footer .fSns a.ig {
    background-position: 0 -40px;
}
.footer .fSns a.yt {
    background-position: 0 -80px;
}
.footer .fSns a.ks {
    background-position: 0 -120px;
}
.footer .fSns .web_accessibility {
    margin-top: -5px;
}
.footer .fSns .web_accessibility a {
    width: 100px;
    height: 66px;
    text-indent: 0;
    background: none;
}
.footer .fSns .web_accessibility a img {
    width: 100%;
}

.footer .fInfo {
    float: left;
    font-weight: 400;
    opacity: .6;
}
.footer .fInfo .info li+li {
    margin-top: 5px;
}
.footer .fInfo .copy {
    margin-top: 5px;
}


