/* 3번째줄 globalMenuWrap */
/* 하얀칸 */
.globalMenuWrap {
    height: 34px;
    border-bottom: 1px solid #eaeaea;
    background-color: #f6f6f6;
}

.innerWrap {
    position: relative;
    width: 1004px;
    margin: 0 auto;
}
.innerWrap:after {
    display: block;
    clear: both;
    content: '';
    height: 0;
}
/* 왼쪽부분 class=familySiteLink */
.familySiteLink {
    float: left;
}

dl, ul, ol, li {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.globalMenuWrap .innerWrap > ul li {
    float: left;
    font-size: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.globalMenuWrap .innerWrap > ul li a, .globalMenuWrap .innerWrap > ul li em {
    display: inline-block;
    font-size: 12px;
    font-family: 'Malgun Gothic', Dotum, Arial, sans-serif;
    line-height: 34px;
    vertical-align: middle;
}

.familySiteLink li:first-child a {
    padding-left: 0;
}

.familySiteLink li a {
    padding-left: 6px;
    /* 패딩 오른쪽 내가 추가함 ..뭐지?그랬더니 똑같네 */
    padding-right: 6px;
    font-family: 'Malgun Gothic', Dotum, Arial, sans-serif;
}

a, a:link, a:visited {
    color: #696969;
    text-decoration: none;
}

a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
    /* text-decoration: underline; */
}
.globalMenuWrap .innerWrap > ul li + li:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 11px;
    vertical-align: middle;
    background-color: #e2e2e2;
}



/* 오른쪽부분 */
.personalMenuLink {
    float: right;
}

b {
    font-weight: bold;
    
}
a.allCurri {
    color: #244798 !important;
}
.personalMenuLink li a {
    padding-left: 6px;
    padding-right: 6px;
}

a.onAir, a.onAir:hover {
    color: #f15921 !important;
}