body, h1, h2, h3, h4, h5, h6, select, textarea, input, button, blockquote, th, td, caption, p, span, em, i {
    font: normal 12px 'Malgun Gothic', Dotum, Arial, sans-serif;
    line-height: 1.5em;
    color: #696969;
    letter-spacing: -1px;
    -webkit-text-size-adjust: none;
}

* {
    margin: 0;
    padding: 0;
}
body {
    display: block;
    margin: 8px;
}
html {
    font-size: 100%;
}
#wrap {
    min-width: 1004px;
}
.renewal2019 #header {
    border-bottom: 2px solid #202b3f;
}
div {
    display: block;
}
/* 맨윗줄 */
.topInfoMsg {
    width: 100%;
    height: 34px;
    text-align: center;
    color: #10253f;
    font-size: 13px;
    line-height: 34px;
    background: url(http://image.ebsi.co.kr/ebsi/images/reNskin2018/common/bg_topInfo.png) repeat-x 0 0;
}
/* 탑배너 */
.topBanner {
    width: 100%;
}
img {
    vertical-align: top;
    border: 0;
}
map {
    display: inline;
}
area:-webkit-any-link {
    cursor: pointer;
}
area {
    display: inline;
}


/* headerInnerWrap */
.headerInnerWrap {
    position: relative;
    width: 1004px;
    height: 177px;
    margin: 0 auto;
}

/* header -logoWrap */
.logoWrap {
    position: relative;
    width: 460px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}
.logo {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -100px;
}

/* header 디데이글씨 */
.d-day, .d-day * {
    font-family: 'Malgun Gothic', Dotum, Arial, sans-serif;
}

.d-day {
    width: 460px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.d-day i {
    font-size: 15px;
    font-weight: bold;
    color: #f15921;
}
em, address, i {
    font-style: normal;
}
.d-day em {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}
