/* 폰트적용!!!!!!!!!!!!!! */
@import url(//db.onlinewebfonts.com/c/827d075b1538829cc0db75696e4d5fa2?family=Speedee);
/* 밑에꺼를K로 바꾸었더니성공 */
@font-face {font-family: "SpeedeeK"; src: url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.eot"); src: url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.woff") format("woff"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/827d075b1538829cc0db75696e4d5fa2.svg#Speedee") format("svg"); }
* {
    -webkit-text-size-adjust: none;
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}

@font-face {
    font-family:SpeedeeK;
    font-weight:400;
    font-style:normal;
    src: url(../font/Speedee_K_L.eot);
    src: url(../font/Speedee_K_L.eot#iefix) format('embedded-opentype'),
         url(../font/Speedee_K_L.woff) format('woff'),
         url(../font/Speedee_K_L.ttf) format('truetype'),
         url(../font/Speedee_K_L.svg#webfont) format('svg')}
  @font-face {
    font-family:SpeedeeK;
    font-weight:500;
    font-style:normal;
    src: url(../font/Speede2019-11-13e_K_R.eot);
    src: url(../font/Speedee_K_R.eot#iefix) format('embedded-opentype'),
         url(../font/Speedee_K_R.woff) format('woff'),
         url(../font/Speedee_K_R.ttf) format('truetype'),
         url(../font/Speedee_K_R.svg#webfont) format('svg')}
  @font-face {
    font-family:SpeedeeK;
    font-weight:600;
    font-style:normal;
    src: url(../font/Speedee_K_B.eot);
    src: url(../font/Speedee_K_B.eot#iefix) format('embedded-opentype'),
         url(../font/Speedee_K_B.woff) format('woff'),
         url(../font/Speedee_K_B.ttf) format('truetype'),
         url(../font/Speedee_K_B.svg#webfont) format('svg')}
html {
    margin: 0;
    height: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote, th, td, button {
    margin: 0;
    padding: 0;
}
/* body */
body, input, select, textarea, button, pre {
    font-family: SpeedeeK, "Malgun Gothic", "맑은 고딕", Dotum, 돋움, Arial, sans-serif;
    color: rgb(128, 128, 128);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.9;
}
body {
    height: 100%;
    background: #fff;
    word-wrap: break-word;
    word-break: keep-all;
} */
.wrapper {
    overflow: hidden;
    position: relative;
    /* min-width는 width 속성의 사용값이 자신의 값보다 작아지는걸 방지합니다. */
    min-width: 1280px;
    min-height: 100%;
    /* padding: 140px 0 230px; */
}
/* 헤더영역 잡기 */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* min-width는 width 속성의 사용값이 자신의 값보다 작아지는걸 방지합니다. */
    min-width: 1280px;
    height: 141px;
    text-align: center;
    border-bottom: 1px solid (128,128,128);
    background: #fff;
}

.header.headArea{
    /* 화면에 꽉차게 보이고싶을때 height:100%를 쓴다고한다 */
    height: 100%;
}
.headArea{
    width:1168px;
    margin:0 auto;
}
/* 로고  */
.header .hLogo{
    position:relative;
    top:28px;
    /* 왼쪽부터흐르게! */
    float:left;
    /* 더 큰 z-index 값을 가진 요소가 작은 값의 요소 위를 덮습니다. */
    z-index:5;
}
.header.hLogo a{
    display:block;
}
/* 이미지 집어넣기 */
img {
    margin: 0;
    padding: 0;
    line-height: 0;
    vertical-align: top;
}

form, fieldset, img, input, button {
    border: 0 none;
    background: none;
}
a{
    text-decoration: none;
    color:rgb(128, 128, 128);
}
a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
    /* text-decoration: underline; */
}
/* 헤더의 메뉴 영역잡기 */

.header.hMenu{
    height: 100%;
    padding:52px 0;
}
nav{
    display:block;
}

.header .hMenu .menu {
    position: absolute;
    /* 가운데 정렬 */
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgb(255, 255, 255);
    z-index:4;
}
div{
    margin:0;
    padding:0;
    display: block;
    
}
.header .hMenu .menu .depth1 {
    display: inline-block;
    padding-left: 60px;
    text-align: left;
    vertical-align: top;
}
ul {
    list-style: none outside;
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px; */
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
.header .hMenu .menu .depth1>li {
    float: left;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.header .hMenu .menu .depth1>li .dth1 {
    position: relative;
    margin-right: 85px;
    padding: 0 10px;
    color: #292929;
    font-size: 20px;
    line-height: 140px;
    font-weight: 630;
}
.header .hMenu .menu .depth1 a {
    display: inline-block;
    vertical-align: top;
}
ul ul {
    /* list-style-type: circle; */
    margin-block-start: 0px;
    margin-block-end: 0px;
    
}


.header .hMenu .menu .depth2>li:first-child {
    margin-top: 0;
}

.header .hMenu .menu .depth2>li {
    margin-top: 15px;
}
.header .hMenu .menu .depth2>li .dth2 {
    line-height: 1.6;
    border-bottom: 1px solid transparent;
}

/* 첫번째줄 오른쪽부분 */
form {
    display: block;
    /* margin-top: 0em; */
}
.header .hMenu .util {
    position: relative;
    float: right;
    top:55px;
    z-index:6;
}

.header .hMenu .util .recruit {
    display: inline-block;
    width: 80px;
    padding-top: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    background: #ffbc0d;
    border-radius: 48px;
}
.header .hMenu .util .lang {
    display: inline-block;
    width: 80px;
    padding-top: 2px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    background: #264a36;
    border-radius: 48px;
}
.topSearch {
    display: inline-block;
}
.header .hMenu .util .srch {
    margin-left: 26px;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    background: url(../images/ico_search.png) 0 0 no-repeat;

}

button, input[type='button'], input[type='submit'], input[type='reset'] {
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border: 0;
    vertical-align: middle;
    background: none;
}
/* hover기능!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.header .hMenu .menu .depth1>li:hover .dth1:after{
    content:" ";
    position:absolute;
    bottom:-3px;
    left:0;
    right:0;
    border-bottom:3px solid #f5bd43
}
.header .hMenu .menu .depth2>li .dth2:hover{
    color:#000;
    border-bottom:1px 
    solid #000
}
  
  
 .header .hMenu .menu .depth2 {
     /* 세부메뉴보이냐 안보이냐~  */
    display: none;
    padding: 35px 10px 45px;


 }

 .header .hMenu .menu .depth1:hover .depth2{
     display:block;
 }

 main {
    /* height: 100vh; */
    position: relative;
    top:140px;
    }

main .wrapper2 {
    margin:0 auto;

}

/* MAIN SLIDER */

main .wrapper2 #slider {
    height: 540px;
    /* 이걸해야지 다음이미지가 안보임 */
    overflow: hidden;
    position: relative;
    max-width: 1900px;
    margin: 0 auto;
    
}

main .wrapper2 #slider .slide {
    height:540px;
    /* 이걸 안해줬더니 크기가 자동으로확대가 되었다! */
    /* background-size: cover; */
    background-position: center;
    /* background-repeat 속성은 배경 이미지의 반복 방법을 지정합니다. 가로축 및 세로축을 따라 반복할 수 있고,
     아예 반복하지 않을 수도 있습니다. */
     /* 반복안함! */
    background-repeat: no-repeat;

}

main .wrapper2 #slider .slide1 {
    background-image: url(../images/mcslide1.png);

}

main .wrapper2 #slider .slide2 {
    background-image: url(../images/mcslide2.png);
}

main .wrapper2 #slider .slide3 {
    background-image: url(../images/mcslide3.png);
}

main .wrapper2 #slider .slide4 {
    background-image: url(../images/mcslide4.png);
}

main .wrapper2 #slider .slide5 {
    background-image: url(../images/mcslide5.png);
}



main .wrapper2 #slider .slide__content {
    width: 1920px;
    height: 540px;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    
}

main .wrapper2 #slider .slide__content span {
    font-size: 80px;
    color: #F6F5F0;
}

/* SLIDER ARROW */

main .wrapper2 #slider .material-icons {
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -40px;
    font-size: 80px;
    color: #F6F5F0;
}

main .wrapper2 #slider .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 0;
    height: 0;
}

main .wrapper2 #slider .arrow--left {
    left: 0px;
}

main .wrapper2 #slider .arrow--right {
    right: 0px;
}
main .wrapper2 #slider .ctrl {
    position: absolute;
    top: 50%;
    width: 90px;
    height: 90px;
    margin-top: -45px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/bg_swiper_new.png) 0 0 no-repeat;
    z-index: 1;
}
main .wrapper2 #slider .ctrl.prev {
    left: 0;
}
main .wrapper2 #slider .ctrl.next {
    right: 0;
    background-position: 0 -90px;
}

/* SECTION */

.section {
    width: 100%;
    /* vh 단위 vh=view height그래서 화면에다보이는거임 그래서 +버튼이 계속내려갔었음... */
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}
.inner {
    position: relative;
    width: 1168px;
    margin: 0 auto;
    height: 1210px;
}
/* 타이틀 */
.wrapper3{
    padding: 30px 0 60px;
    height:1179.98px;
}
section#tit{
    margin: 0px 0px 60px;
    color: #292929;
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
}

/*  GRID*/
section#promotion .wrapper .grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    justify-content: center;
}

section#promotion .wrapper .grid .circle {
    width: 366px;
    height: 438px;
    box-shadow: 0 3px 4px rgb(0 0 0 / 10%);
    border-radius: 10px;
    background: #ffffff;
    color: #000000;
    font-size: 32px;
   
}

section#promotion .wrapper .grid .circle .con{
    padding: 24px 30px;
}
section#promotion .wrapper .grid .circle .con .tit{
    display: -webkit-box;
    max-height: 118px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 18px;
    color: #292929;
    font-weight: 500;
    line-height: 1.7;
    font-family: SpeedeeK,"Malgun Gothic", "맑은 고딕", Dotum, 돋움, Arial, sans-serif;
}
/* MORE */

.inner .btnMore {
    margin-top: 80px;
    text-align: center;
}

/* FOOTER */
footer.footer{
    top:1920.2px;
    position: absolute;
    width:100%;
    height:254.512px;
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    background: #292929;

}

.footer .footArea {
    /* 위에서내려 */
    padding: 45px 0 55px;
    text-align: left;
    width: 1168px;
    /* 가운데 정렬 */
    margin: 0 auto;
}

.footer .fUtil {
    float: left;
    width: 190px;
    
}
/* futil부분 li사이 marigin */
.footer .fUtil li+li {
    margin-top: 5px;
}
/* fUtil부분 글자색설정 */
.footer .fUtil .privacy a{
    color:yellow;
}
/* fUtil부분 글자색 설정 */
.footer .fUtil a{
    color: #ffffff;
} 
/* fInfo 글자설정 */
.footer .fInfo {
    float: left;
    font-weight: 400;
    /* opacity CSS 속성은 요소의 불투명도를 설정합니다.  */
    opacity: .6;
}
.footer .fInfo .info li+li {
    margin-top: 5px;
}
.footer .fSns {
    float: right;
}
.footer .fSns li {
    float: left;
    margin-left: 20px;
}
.footer .fSns a.fb {
    background-position: 0 0;
}

.footer .fSns a.ig {
    background-position: 0 -40px;
}
.footer .fSns a.yt {
    background-position: 0 -80px;
}
.footer .fSns a.ks {
    background-position: 0 -120px;
}
.footer .fSns a {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/ico_sns.png) 0 0 no-repeat;
}
.footer .fSns .web_accessibility a {
    width: 100px;
    height: 66px;
    text-indent: 0;
    background: none;
}
.footer .fSns .web_accessibility a img {
    width: 100%;
}
.footer .fSns .web_accessibility {
    margin-top: -5px;
}